<%- include('../header') %>
      <h2>Password Details List</h2><br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Project Name</th>
            <th>Password Detail</th>
            <th>
                Action
            </th>
          </tr>
        </thead>
        <tbody>
          <% records.forEach((row)=>{ %>
            <tr>
              <td><%= row.passCategoryName %></td>
              <td><%= row.projectName %></td>
              <td><%- row.password_detail %></td>
              <td>
                    <a href="#" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash"></i>
                    </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/password/passwordDetail/1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/password/passwordDetail/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/password/passwordDetail/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>

      

  </body>
</html>
